@import "reset";
@import "fonts";

/*-----------------------*/
/*---------APP-----------*/
/*-----------------------*/
body{}

.app{
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 67px 1fr;
  font-family: Avenir, sans-serif;
}

/*---------------------------*/
/*----------SIDEBAR----------*/
/*---------------------------*/

.sidebar_logo{
  background-color: #343639;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar_logo img{
  width: 30px;
}
.sidebar_nav{
  background-color: #94C571;
}
.sidebar_nav__item{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  position: relative;
}
.sidebar_nav__item::before{
  content: '';
  position: absolute;
  right: 0px;
  bottom: 9px;
  border: 7px solid transparent;
  border-right: 10px solid #94C571;
}
.sidebar_nav__item.active::before{
  border-right: 7px solid #F5F5F5;
}
.sidebar_nav__item i{
  font-size: 20px;
  color: #3F5F3B;
  opacity: 0.6;
}
.sidebar_nav__item:hover.sidebar_nav__item i{
  opacity: 1;
  transition: all 0.2s;
}

/*---------------------------*/
/*----------HEADER-----------*/
/*---------------------------*/

.header{
  height: 67px;
  width: 100%;
  background-color: #434648;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_links a{
  font-size: 14px;
  font-weight: 400;
  margin-left: 35px;
  color: #909BA6;
}
.header_links a:hover{
  color: #CED4DB;
  transition: all 0.2s;
}
.header_control{
  display: flex;
  align-items: center;
}
.header_control__search{
  min-width: 288px;
  height: 38px;
  border-radius: 4px;
  background-color: #54595E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px 0 0;
}
.header_control__search i{
  display: block;
  color: #727A82;
  font-size: 20px;
  margin: 0 10px;
}
.header_control__search input{
  background-color: transparent;
  border: none;
  color: #727A82;
  width: 100%;
  margin: 10px 10px 10px 0;
}
.header_control__userAccess{
  min-width: 195px;
  height: 67px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #434648;
  padding: 0 5px;
}
.header_control__userAccess:hover{
  cursor: pointer;
  background-color: #343639;
  transition: all 0.2s;
}
.header_userAccess__avatar{
  width: 31px;
  height: 31px;
  position: relative;
}
.header_userAccess__avatar_msgCounter{
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #F06037;
  border-radius: 50%;
  width: 19px;
  height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_userAccess__avatar_msgCounter p{
  color: #FDF8F7;
  font-size: 10px;
}
.header_userAccess__name{
  color: #909BA6;
  font-size: 14px;
  font-weight: 300;
}
.header_userAccess__arrow i{
  color: #727A82;
  padding: 0 0 10px 0;
}

/*---------------------------*/
/*--------DASHBOARD----------*/
/*---------------------------*/

.dashboard{
  &_title{
    background-color: #FEFEFE;
    display: flex;
    align-items: center;
    height: 71px;
    margin-left: 40px;
    & h1{
      font-size: 18px;
      font-weight: 400;
      color: #626D76;
    }
    & i{
      color: #C7CCD0;
      font-size: 13px;
      margin-left: 10px;
    }
  }
  &_counters{
    min-height: 103px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 30px;
    &__item{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex: 180px;
      flex-grow: 1;
      flex-shrink: 1;
      margin: 20px 0;
      &_vline{
        width: 3px;
        height: 56px;
        margin: 0 0 5px 0;
      }
      &_link{
        margin: 0 0 0 18px;
      }
      &_counter{
        display: block;
        font-size: 35px;
        font-weight: 400;
        color: #646A71;
        line-height: 22px;
        margin: 0 0 10px 0;
      }
      &_title{
        display: block;
        font-size: 14px;
        color: #A7AEB6;
      }
    }
  }
  .first{
    background-color: #94C571;
  }
  .second{
    background-color: #3A8282;
  }
  .third{
    background-color: #94C571;
  }
  .fourth{
    background-color: #F06037;
  }
  .fifth{
    background-color: #94C571;
  }
  .sixth{
    background-color: #F06037;
  }

}

.dashboard_charts{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #F1F1F1;
  &__item{
    margin: 35px;
    &_title{
      font-size: 18px;
      line-height: 21px;
      font-weight: 400;
      color: #727A82;
      &__wrap{
        margin: 0 0 40px 0;
      }
    }
  }
}
.activePlayers{}
.activeTournaments{}
.recentPlayers{
  &_wrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 28px;
  }
  &_item{
    display: flex;
    align-items: center;
    &__logo{
      width: 45px;
      height: 45px;
      margin: 0 13px 0 0;
    }
    &__info{}
    &__name{
      display: block;
      font-size: 14px;
      line-height: 21px;
      font-weight: 300;
      color: #727A82;
    }
    &__location{
      display: block;
      font-size: 12px;
      line-height: 21px;
      font-weight: 300;
      color: #A8ACB0;
    }
  }
}
.playerStatistics{
  &_items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  &_item{
    &__chart{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 0 20px 0;
      &_counter{
        position: absolute;
        display: flex;
        margin: 5px 0 0 0;
      }
    }
    &__title{
      text-align: center;
      font-size: 18px;
      line-height: 42px;
      font-weight: 400;
      color: #727A82;
    }
  }
  &_counter__number{
    display: block;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 500;
    color: #43474D;
  }
  &_counter__percent{
    display: block;
    color: #43474D;
    padding: 0 0 10px 0;
  }
}