@import "reset";
@import "fonts";

/*-----------------------*/
/*---------APP-----------*/
/*-----------------------*/

.app{
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 67px 1fr;
  font-family: Avenir, sans-serif;
}

/*---------------------------*/
/*----------SIDEBAR----------*/
/*---------------------------*/

.sidebar_logo{
  background-color: #343639;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar_logo img{
  width: 30px;
}
.sidebar_nav{
  background-color: #94C571;
}
.sidebar_nav__item{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  position: relative;
}
.sidebar_nav__item::before{
  content: '';
  position: absolute;
  right: 0px;
  bottom: 9px;
  border: 7px solid transparent;
  border-right: 10px solid #94C571;
}
.sidebar_nav__item.active::before{
  border-right: 7px solid #F5F5F5;
}
.sidebar_nav__item i{
  font-size: calc(14px + 0.41208791208791207vw);
  color: #3F5F3B;
  opacity: 0.6;
}
.sidebar_nav__item:hover.sidebar_nav__item i{
  opacity: 1;
  transition: all 0.2s;
}

/*---------------------------*/
/*----------HEADER-----------*/
/*---------------------------*/

.header{
  height: 67px;
  width: 100%;
  background-color: #434648;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_links a{
  font-size: 14px;
  font-weight: 400;
  margin-left: calc(17.5px + 1.2019230769230769vw);
  color: #909BA6;
}
.header_links a:hover{
  color: #CED4DB;
  transition: all 0.2s;
}
.header_control{
  display: flex;
  align-items: center;
}
.header_control__search{
  min-width: calc(144px + 9.89010989010989vw);
  height: calc(19.5px + 1.3392857142857142vw);
  border-radius: 4px;
  background-color: #54595E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px 0 0;
}
.header_control__search i{
  display: block;
  color: #727A82;
  font-size: calc(14px + 0.41208791208791207vw);
  margin: 0 10px;
}
.header_control__search input{
  background-color: transparent;
  border: none;
  color: #727A82;
  width: 100%;
  margin: 10px 10px 10px 0;
}
.header_control__userAccess{
  min-width: calc(97.5px + 6.696428571428571vw);
  height: calc(33.5px + 2.3008241758241756vw);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #434648;
  padding: 0 5px;
}
.header_control__userAccess:hover{
  cursor: pointer;
  background-color: #343639;
  transition: all 0.2s;
}
.header_userAccess__avatar{
  width: 31px;
  height: 31px;
  position: relative;
}
.header_userAccess__avatar_msgCounter{
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #F06037;
  border-radius: 50%;
  width: calc(9.5px + 0.6524725274725275vw);
  height: calc(9.5px + 0.6524725274725275vw);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_userAccess__avatar_msgCounter p{
  color: #FDF8F7;
  font-size: 10px;
}
.header_userAccess__name{
  color: #909BA6;
  font-size: 14px;
  font-weight: 300;
}
.header_userAccess__arrow i{
  color: #727A82;
  padding: 0 0 10px 0;
}

/*---------------------------*/
/*--------DASHBOARD----------*/
/*---------------------------*/

.dashboard{
  &_title{
    background-color: #FEFEFE;
    display: flex;
    align-items: center;
    height: calc(35.5px + 2.4381868131868134vw);
    margin-left: calc(20px + 1.3736263736263736vw);
    & h1{
      font-size: calc(14px + 0.27472527472527475vw);
      font-weight: 400;
      color: #626D76;
    }
    & i{
      color: #C7CCD0;
      font-size: 13px;
      margin-left: 10px;
    }
  }
  &_counters{
    min-height: calc(51.5px + 3.537087912087912vw);
    background-color: #F5F5F5;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    flex-wrap: wrap;
    padding: 0 calc(15px + 1.0302197802197801vw);
    &__item{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex: calc(90px + 6.181318681318682vw);
      flex-grow: 1;
      flex-shrink: 1;
      margin: calc(10px + 0.6868131868131868vw) 0;
      &_vline{
        width: 3px;
        height: calc(28px + 1.9230769230769231vw);
        margin: 0 0 5px 0;
      }
      &_link{
        margin: 0 0 0 calc(9px + 0.6181318681318682vw);
      }
      &_counter{
        display: block;
        font-size: calc(14px + 1.4423076923076923vw);
        font-weight: 400;
        color: #646A71;
        line-height: calc(11px + 0.7554945054945055vw);
        margin: 0 0 10px 0;
      }
      &_title{
        display: block;
        font-size: 14px;
        color: #A7AEB6;
      }
    }
  }
  .first{
    background-color: #94C571;
  }
  .second{
    background-color: #3A8282;
  }
  .third{
    background-color: #94C571;
  }
  .fourth{
    background-color: #F06037;
  }
  .fifth{
    background-color: #94C571;
  }
  .sixth{
    background-color: #F06037;
  }
}

.dashboard_charts{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #F1F1F1;
  &__item{
    margin: calc(17.5px + 1.2019230769230769vw);
    max-width: calc(400px + 27.47252747252747vw);
    &_title{
      font-size: calc(14px + 0.27472527472527475vw);
      line-height: calc(10.5px + 0.7211538461538461vw);
      font-weight: 400;
      color: #727A82;
      &__wrap{
        height: calc(30px + 2.0604395604395602vw);
        padding: 0 calc(10px + 0.6868131868131868vw);
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.recentPlayers{
  &_wrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  &_item{
    display: flex;
    align-items: center;
    margin: 10px;
    &__logo{
      width: calc(22.5px + 1.5453296703296704vw);
      height: calc(22.5px + 1.5453296703296704vw);
      margin: 0 calc(6.5px + 0.44642857142857145vw) 0 0;
    }
    &__info{}
    &__name{
      display: block;
      font-size: 14px;
      line-height: calc(10.5px + 0.7211538461538461vw);
      font-weight: 300;
      color: #727A82;
    }
    &__location{
      display: block;
      font-size: 12px;
      line-height: calc(10.5px + 0.7211538461538461vw);
      font-weight: 300;
      color: #A8ACB0;
    }
  }
}
.playerStatistics{
  &_items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  &_item{
    &__chart{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 0 calc(10px + 0.6868131868131868vw) 0;
      &_counter{
        position: absolute;
        display: flex;
        margin: 5px 0 0 5px;
      }
    }
    &__title{
      text-align: center;
      font-size: calc(14px + 0.27472527472527475vw);
      line-height: calc(21px + 1.4423076923076923vw);
      font-weight: 400;
      color: #727A82;
    }
  }
  &_counter__number{
    display: block;
    font-size: calc(14px + 1.098901098901099vw);
    line-height: 1.2;
    font-weight: 500;
    color: #43474D;
  }
  &_counter__percent{
    display: block;
    color: #43474D;
    padding: 0 0 10px 0;
  }
}

/*---------------------------*/
/*---------CONTROLS----------*/
/*---------------------------*/

.controls{
  position: relative;
  &_singleBtn{
    display: none;
    justify-content: space-between;
    align-items: center;
    width: calc(35px + 2.4038461538461537vw);
    height: calc(11px + 0.7554945054945055vw);
    color: #A1A1A1;
    border: 1px solid #E0DFDF;
    border-radius: 3px;
    font-size: 10px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.013em;
    background-color: #F2F2F2;
    padding: 0 5px 0 10px;
    span{
      display: block;
    }
    i{
      display: block;
      margin: 0 0 5px 0;
    }
    &:hover{
      background-color: #DFDFDE;
    }
  }
  &_chooseBtns{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    border: 1px solid #E0DFDF;
    border-radius: 3px;
    background-color: #F2F2F2;
    &__btn{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: calc(35px + 2.4038461538461537vw);
      height: calc(11px + 0.7554945054945055vw);
      color: #A1A1A1;
      font-size: 10px;
      line-height: 1.2;
      font-weight: 500;
      letter-spacing: 0.013em;
      padding: 0 5px 0 10px;
      i{
        display: none;
        margin: 3px 0 0 0;
      }
      &:hover{
        background-color: #DFDFDE;
      }
    }
  }
  .i-active{
    display: block;
  }
  .active{
    display: flex;
  }
  .shown{
    display: block;
  }
}

.pagination{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(11px + 0.7554945054945055vw);
  color: #A1A1A1;
  font-size: 10px;
  background-color: #F2F2F2;
  &_btn__left{
    width: calc(10px + 0.6868131868131868vw);
    text-align: center;
    border: 1px solid #E0DFDF;
    border-radius: 3px 0 0 3px;
    padding: 2px 0 0 0;
    &:hover{
      background-color: #DFDFDE;
      cursor: pointer;
    }
  }
  &_btn__right{
    width: calc(10px + 0.6868131868131868vw);
    text-align: center;
    border: 1px solid #E0DFDF;
    border-radius: 0 3px 3px 0;
    padding: 2px 0 0 0;
    &:hover{
      background-color: #DFDFDE;
      cursor: pointer;
    }
  }
}



@import "media";